.certi{
    position: absolute;
    left: 595px;
    color:#0F0462;
    margin: 20px auto;
}
.blo1{
    position: absolute;
    top: 90px;
    left: 51px;
}
.cert1{
    max-width: 622px;
    max-height: 401px;
}
.cert2{
    max-width: 622px;
    max-height: 401px;
}
.blo2{
    position: absolute;
    top: 491px;
    left: 51px;
    margin: 20px auto;
}
.cert3{
    max-width: 622px;
    max-height: 401px;
}
.cert4{
    max-width: 622px;
    max-height: 401px;
}
.blo3{
    position: absolute;
    top: 911px;
    left: 51px;
    margin: 20px auto;
}
.cert5{
    max-width: 622px;
    max-height: 401px;
}
.cert6{
    max-width: 622px;
    max-height: 401px;
}
.blo4{
    position: absolute;
    top: 1332px;
    left: 51px;
    margin: 20px auto;
}
.cert7{
    max-width: 622px;
    max-height: 401px;
}
.cert8{
    max-width: 622px;
    max-height: 401px;
}
.blo5{
    position: absolute;
    top: 1753px;
    left: 342px;
    margin: 20px auto;
}
.cert9{
    max-width: 622px;
    max-height: 401px;
}

